{% extends 'layout.html' %}

{% block body %}
  
    
    <div class="jumbotron">
      <form action="/customerPage" method='POST'>
          <input type="text" name="location" placeholder="location">
          <button type="submit" class="btn btn-dark">Submit</button>
      </form>
      <a href="/customerPage"><button type="submit" class="btn btn-dark">Refresh</button> </a>
    <br>
    <br>
    
      <div class="boxes">
          {% for key,values in t.items() %}
            
          <div class="flip-card" style="height: 300px; width: 300px;">
            <div class="flip-card-inner"> 
              <div class="flip-card-front">
                <img src={{values["image"]}} alt="Card image cap" style="width: 11rem;">
                <div class="card-body">
                  
                  <h5 class="card-title"><b>{{values["name"]}}</b></h5>
                  <p><i class="fas fa-map-marker-alt"></i> {{values["location"]}}</p>
                  <pre><i class="fas fa-male"> {{values["people"]}}</i></pre> 
                  <p>Timings : 9AM - 6PM</p>
                </div>
              </div>

              <div class="flip-card-back">
                <h1>Items available</h1>
                <p>Veggies</p>
                <p>Fruits</p>
                <p>Diary</p>
                <p>Bread</p>
                <a href="/customerBookingShop/{{ key }}"><button class="btn btn-primary">Book Slots</button></a>
              </div>

            </div>
          </div>
            
          {% endfor %}
      </div>
    </div>


{% endblock %}