{% extends 'layout.html' %}

{% block body %}


<p>YO YO YO This is the customerBookingShop</p>

<p>{{ data['shop_data'] }}</p>

<p>----------------------------------</p>

<p>{{data['shop_products']}}</p>
<div class="jumbotron">
    <form action="/customerBookingShop/{{data['shopid']}}" method="post">
        <div class="form-group">
            <label for="exampleFormControlSelect1">Example select</label>
            <select class="form-control" id="exampleFormControlSelect1" name="slotOption">
              <option value="0">6:00 am - 6:30 am</option>
              <option value="1">6:30 am - 7:00 am</option>
              <option value="2">7:00 am - 7:30 am</option>
              <option value="3">7:30 am - 8:00 am</option>
              <option value="4">8:00 am - 8:30 am</option>
            </select>
        </div>
        <input type="text" class="form-control" name="custid" placeholder="Enter Customer ID">
        <button type="submit" class="btn btn-dark">Submit</button>
    </form>
</div>

<p>Booking Status : </p>{{ data['bookingStatus']}}
{% endblock %}