{% extends 'layout.html' %}

{% block body %}

    <div class="jumbotron">
        <h3>Enter Shop Details</h3>
        <form action="/addShop" method="post">
            <input type="text" name="id" placeholder="userid">
            <input type="text" name="name" placeholder="Shop name">
            <input type="text" name="location" placeholder="location">
            <input type="text" name="image" placeholder="image link">
            <input type="number" name="capacity" placeholder="Shop Capacity" required>
            <button type="submit" class="btn btn-dark">Submit</button>
        </form>
        <br>
        <!-- <form> 
            <input type="text" name="name">
            <button type="submit" class="btn btn-dark">Customer</button>
        </form> -->

        <div class="boxes">
          
            {% for key,values in t.items() %}
              <!-- <div class="box">
                <centre><img src={{values['image']}} height="250" width="321"></centre>
                <p>{{values["name"]}}</p>
                <p>Location: {{values["location"]}}</p>
              </div> -->
              <div class="flip-card">
                <div class="card flip-card-inner" style="width: 18rem;">
                  <div class="flip-card-front">
                    <img class="card-img-top" src={{values["image"]}} alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title"><b>{{values["name"]}}</b></h5>
                      <p><i class="fas fa-map-marker-alt"></i> {{values["location"]}}</p>
                      <!-- <pre><i class="fas fa-male"> {{values["people"]}}</i></pre> -->
                      <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                    </div>
                  </div>
                  <div class="flip-card-back">
                    flip-card-back
                  </div>

                </div>
              </div>
            {% endfor %}
        </div>
    </div>




{% endblock %}