{% extends 'layout.html' %}

{% block body %}

    <div class="jumbotron">
        <h3>Enter Shop Details</h3>
        <form action="/addShop" method="post">
            <input type="text" name="name" placeholder="Shop name">
            <input type="text" name="location" placeholder="location">
            <input type="text" name="image" placeholder="image link">
            
            <button type="submit" class="btn btn-dark">Submit</button>
        </form>
        <br>
        <!-- <form> 
            <input type="text" name="name">
            <button type="submit" class="btn btn-dark">Customer</button>
        </form> -->

        <div class="boxes">
          {% for i,j in t.items() %}
            {% for key,values in j.items() %}
              <div class="box">
                <centre><img src={{values['image']}} height="250" width="321"></centre>
                <p>{{key}}</p>
                <p>Location: {{values["location"]}}</p>
              </div>
            {% endfor %}
          {% endfor %}
        </div>
    </div>




{% endblock %}