{% extends 'layout.html' %}

{% block body %}
  
    
    <div class="jumbotron">
      <form action="/customerPage" method='POST'>
          <input type="text" name="location" placeholder="location">
          <button type="submit" class="btn btn-dark">Submit</button>
      </form>
      <a href="/customerPage"><button type="submit" class="btn btn-dark">Refresh</button> </a>
    <br>
    <br>
    
      <div class="boxes">
          {% for key,values in t.items() %}
            
            <div class="card box navcard" style="width: 18rem;">
              <img class="card-img-top" src={{values["image"]}} alt="Card image cap">
              <div class="card-body">
                
                <h5 class="card-title"><b>{{values["name"]}}</b></h5>
                <p><i class="fas fa-map-marker-alt"></i> {{values["location"]}}</p>
                <pre><i class="fas fa-male"> {{values["people"]}}</i></pre>
                <a href="/customerBookingShop/{{ key }}"><button class="btn btn-dark">More</button></a> 
                
                <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                {%
                  if(values["people"]>20): %}
                  <p>Estimated Time: 5 mins</p>
                  {% else: %}
                  <p>Estimated Time: 0 mins</p>
                
                {% endif%}
                
              </div>
            </div>
          {% endfor %}
      </div>
    </div>


{% endblock %}