{% extends 'layout.html' %}

{% block body %}
  
    
    <div class="jumbotron">
      <form action="/customerPage" method='POST'>
          <input type="text" name="location" placeholder="location">
          <button type="submit" class="btn btn-dark">Submit</button>
      </form>
      <a href="/customerPage"><button type="submit" class="btn btn-dark">Refresh</button> </a>
    <br>
      <div class="boxes">
        {% for i,j in t.items() %}
          {% for key,values in j.items() %}
            <div class="box">
              <img src={{values["image"]}} height="250" width="321" >
              <p>{{key}}</p>
              <p><i class="fas fa-map-marker-alt"></i> {{values["location"]}}</p>
              <i class="fas fa-male"></i>
            </div>
          {% endfor %}
        {% endfor %}
      </div>
    </div>


{% endblock %}