{% extends 'layout.html' %}

{% block body %}

    <div class="jumbotron" style="margin-top: 2% ;height: 520px; background: url('https://image.shutterstock.com/z/stock-vector-people-waiting-in-long-queue-at-counter-with-fat-man-hipster-old-young-couples-kid-vector-1065200126.jpg'); background-repeat: no-repeat; background-size: cover;">
        <div style="display: inline;">
            <h3 style="text-align: center; text-shadow: black; text-emphasis: bold; font-weight: 500;">Welcome To GrocerStop</h3>
        </div>
        <br>
        <p style="text-align: center;">This platform helps you to navigate to the store that has everything for you. We make your process CORONA FREE</p>
        <br>
    </div>

{% endblock %}